body{
	background:#eee;
	font-family:Helvetica,Arial;
	font-size:14px;
}

.clearBoth{
	clear: both;
}


/************************************

		$-Board

*************************************/

table
{
	border-collapse: collapse;
}

table td
{
	width: 32px;
	height: 32px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

/*For walkable case*/
table .case-1.type-0
{
	background: url(../img/block_1_0.png);
}

table .case-1.type-1
{
	background: url(../img/block_1_1.png);
}

table .case-1.type-2
{
	background: url(../img/block_1_2.png);
}

/*For breakable case*/
table .case-2
{
	background: url(../img/block_2.png);
}

/*For unbreakable case*/
table .case-3
{
	background: url(../img/block_3.png);
}

/************************************

		$-Player

*************************************/
.player
{
	position: absolute;
	height: 32px;
	width: 32px;
	top: 0px;
	left: 0px;
	background-image: url(../img/mario.png);
	background-position: 0px 0px;
	z-index: 1;
}

/************************************

		$-Bomb

*************************************/
.bomb
{
	position: absolute;
	top: 10px;
	left: 10px;
}

/************************************

		$-Fire

*************************************/
.fire
{
	position: absolute;
	top: 10px;
	left: 10px;
}