body{
	font-family:Helvetica,Arial;
	font-size:14px;
    background: #d0c5c5;
}

img.pipe {
    position: absolute;
    width: 100px;
}

.pipe_1 {
    left: 70%;
}

.pipe_2 {
    bottom: 0%;
    left: 10%;
    transform: rotate(180deg);
    will-change: transform;
}

.clearBoth{
	clear: both;
}

.button {
    display: inline-block;
    margin-left: 50vw;
    transform: translateX(-50%);
    background-color: #d86d46;
    margin-top: 30px;
    padding: 10px 0px;
    border-left: 2px solid #ffe9dc;
    border-top: 2px solid #ffe9dc;
    border-bottom: 2px solid #2f2925;
    border-right: 2px solid #2f2925;
}

.button:hover {
    background-color: #d84646;
    border-left: 2px solid #ffdcdc;
    border-top: 2px solid #ffdcdc;
    border-bottom: 2px solid #2f2525;
    border-right: 2px solid #2f2525;
}

.button a.start {
     padding: 10px 15px;
     text-decoration: none;
     color: white;
     font-size: 18px;
 }

.bonusMenu {
    margin-top: 10px;
    display: inline-block;
    margin-left: 50vw;
    transform: translateX(-50%);
}

.bonusMenu div {
    display: inline-block;
    margin: 0 5px;
}

.bonusMenu div span {
    font-size: 20px;
    color: white;
    transform: translateY(-50%);
}

/************************************

		$-Board

*************************************/

table
{
	border-collapse: collapse;
	margin: 0px auto;
}

table td
{
	width: 32px;
	height: 32px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

/*For walkable case*/
table .case-1.type-0
{
	background: url(../img/block_1_0.png);
}

table .case-1.type-1
{
	background: url(../img/block_1_0.png);
}

table .case-1.type-2
{
	background: url(../img/block_1_0.png);
}

/*For breakable case*/
table .case-2
{
	background: url(../img/block_2.png);
}

/*For unbreakable case*/
table .case-3
{
	background: url(../img/block_3.png);
}

/************************************

		$-Player

*************************************/
.player, .bot
{
	position: absolute;
	height: 32px;
	width: 32px;
	top: 0px;
	left: 0px;
	background-size: cover;
	z-index: 1;
}

.player
{
  background-image: url(../img/mario.png);
}

.bot
{
  background-image: url(../img/goomba.png);
}

/************************************

		$-Bomb

*************************************/
.bomb
{
	position: absolute;
	height: 32px;
	width: 32px;
	top: 0px;
	left: 0px;
	background-image: url(../img/bomb.png);
	background-size: cover;
}

/************************************

		$-Fire

*************************************/
.fire
{
	position: absolute;
	height: 32px;
	width: 32px;
	top: 0px;
	left: 0px;
	background-image: url(../img/fire_2.png);
	background-size: cover;
}

/************************************

		$-Bonus

*************************************/
.bonus
{
	position: absolute;
	height: 32px;
	width: 32px;
	top: 0px;
	left: 0px;
	background-size: cover;
}

.bonus.timer {background: url(../img/bomb-timer.png);}
.bonus.limit {background: url(../img/bomb-limit.png);}
.bonus.reach {background: url(../img/bomb-reach.png);}
